/*.opensdf
/*.sdf
/*.sln
/*.suo
/*.user
/*.vcxproj*
/agent.js
/cryptoshark_plugin_import.cpp
/cryptoshark_qml_plugin_import.cpp
/cryptoshark_qml_plugin_import.qrc
/debug
/node_modules
/release
/vendor.js
/tools/dist
/tools/openssl-*
/tools/qt5