/*.o
/*.opensdf
/*.sdf
/*.sln
/*.suo
/*.user
/*.vcxproj*
/.qmake.stash
/Cryptoshark.app
/Makefile
/Makefile.Debug
/Makefile.Release
/agent.js
/agent/node_modules
/cryptoshark_plugin_import.cpp
/cryptoshark_qml_plugin_import.cpp
/cryptoshark_qml_plugin_import.qrc
/debug
/moc_*.h
/moc_*.cpp
/qrc_*.cpp
/qt.conf
/release
/tools/dist
/tools/openssl-*
/tools/qt5
