name: macOS

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v2
      with:
        path: ../dist
        key: qt-${{ runner.os }}

    - name: Build Qt
      if: steps.cache-qt.outputs.cache-hit != 'true'
      run: |
        . tools/macos/activate-env
        get-qt
        build-qt

    - name: Build Cryptoshark
      run: |
        ./build
        macdeployqt ../build-cryptoshark-x86_64/app/Cryptoshark.app -dmg

    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest_macos"
        prerelease: true
        title: "Latest macOS Build"
        files: |
          ../build-cryptoshark-x86_64/app/Cryptoshark.dmg
